<div class="loader-container" *ngIf="displayModal">
  <div class="spinner-border text-light spinner-custom" role="status"></div>
  <h3>Loading</h3>
</div>

<div class="All container">
  <h1>AIRPORT MANAGEMENT</h1>
  <div class="d-grid mt-4">
    <button type="button" class="btn btn-primary" (click)="goToAddAirPort()">Add Airport</button>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Airport Code</th>
          <th>Location</th>
          <th>Airport Name</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>

      <tbody *ngIf="airPorts?.length">
        <tr *ngFor="let ap of airPorts">
          <td>{{ap.code}}</td>
          <td>{{ap.location}}</td>
          <td>{{ap.name}}</td>
          <!-- <td>
            <button type="button" class="btn btn-info" (click)="goToEditAirport(app.code);">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>

</div>
