<!-- HEADER -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
/>


<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <a>
          <h3 routerLink="/">Home</h3>
        </a>
      </div>

      <a
        class="navbar-item"
        routerLink="/flight-booking"
      >
        <h3>Book Flight</h3>
      </a>

      <!-- <a class="navbar-item">
        <h3 style="margin-bottom: 5px; font-family: Georgia">
          <b> OFFERS </b>
        </h3>
      </a> -->
      <div
        *ngIf="user.length > 0 && user[0].roles[0] === userRole"
        class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <h3>Your Management</h3>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/flight-history">
            Flight History
          </a>
          <!-- <hr class="navbar-divider" />
          <a class="navbar-item" routerLink="/report-issue">
            Report an issue
          </a> -->
        </div>
      </div>

      <div
        *ngIf="user.length > 0 && user[0].roles[0] === adminRole"
        class="navbar-item has-dropdown is-hoverable"
      >
        <a class="navbar-link">
          <h3>Flight Management</h3>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/airport">
            Airport Management
          </a>
          <a class="navbar-item" routerLink="/flight">
            Flight Management
          </a>
          <a class="navbar-item" routerLink="/airport">
            Schedule Management
          </a>
          <!-- <a *ngIf="user[0].roles[0] === adminRole" class="navbar-item" routerLink="/add-airport">
            Add Airport
          </a> -->
          <!-- <a *ngIf="user[0].roles[0] === adminRole" class="navbar-item"
          routerLink="/add-flight"
          >
            Add Flight
          </a>
          <a *ngIf="user[0].roles[0] === adminRole" class="navbar-item" routerLink="/add-schedule">
            Add Schedule
          </a> -->
          <!-- add schedule
            <a
            *ngIf="user[0].roles[0] === adminRole"
            class="navbar-item"
            routerLink="/issues"
          >
            Issues
          </a>
          <a class="navbar-item" routerLink="/flight-history">
            Flight History
          </a> -->

          <!-- <a class="navbar-item" routerLink="/invoice"> Flight Invoice </a> -->
        </div>
      </div>

      <a *ngIf="user.length > 0 && user[0].roles[0] === adminRole"
        class="navbar-item"
        routerLink="/user">
        <h3>User Management</h3>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <h3>More</h3>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/about"> About </a>
          <a class="navbar-item" routerLink="/contact"> Contact </a>
          <!-- <div *ngIf="user.length > 0">
            <hr class="navbar-divider" />
            <a class="navbar-item" routerLink="/report-issue">
              Report an issue
            </a>
          </div> -->
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div *ngIf="user.length === 0" class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-primary"
          (click)="handleLoginButton($event)"
          >
            <strong>Login</strong>
          </a>
        </div>
      </div>

      <div *ngIf="user.length > 0" class="navbar-item">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span style="margin-right: 20px; font-weight: bold; font-size: 18px"
              >Welcome, {{ user[0].username }}</span
            > <!--fullname-->
            <img
              src="../../../assets/images/profilePhoto.jpg"
              alt="profileImage"
              class="profileImage"
            />
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/profile">Profile</a>
            <a class="navbar-item" routerLink="/account-settings">
              Account Settings
            </a>
            <hr class="navbar-divider" />
            <a class="navbar-item is-primary"
              (click)="handleLogout()" >
              <strong>Logout</strong>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>

<!-- HEADER -->
