<div class="container">
  <h1>CONTACT US</h1>

  <h2>Our Officies</h2>

  <div class="card">
    <img
      src="assets/images/office1.jpeg"
      alt="Avatar"
      style="width: fit-content; margin-left: 15px"
    />
    <div class="container">
      <h3>MIU University</h3>
      <p class="address">
      1000 N 4th St, Fairfield, IA 52557
      </p>
    </div>
  </div>

  <div class="container2">
    <h1>EMAIL</h1>

    <h2>For booking queries and support, visit:</h2>
    <a
      href="/report"
      >http://www.miuairport.com/support</a>

    <p></p>

    <h3>For concerns regarding Privacy statement & practices,
      <a href="/report" >Click Here</a>
    </h3>
  </div>

  <div class="container2">
    <h1>ENGAGE WITH US</h1>
    <div class="cardleft1">
      <img
        src="assets/images/facebook.png"
        alt="Avatar"
        style="width: 42px; margin-left: 140px"
      />
      <div class="container">
        <p class="text">
          Connect With us on FaceBook
        </p>
      </div>
    </div>

    <div class="card1">
      <img
        src="assets/images/twitter.png"
        alt="Avatar"
        style="width: 50px; margin-left: 140px"
      />
      <div class="container">
        <p class="text">
        Follow us on Twitter
        </p>
      </div>
    </div>

    <div class="cardcenter1">
      <img
        src="assets/images/linkedin.png"
        alt="Avatar"
        style="width: 50px; margin-left: 140px"
      />
      <div class="container">
        <p class="text">
          Stay Connected on Linked-In
        </p>
      </div>
    </div>
  </div>
</div>

