<div class="loader-container" *ngIf="displayModal">
  <div class="spinner-border text-light spinner-custom" role="status"></div>
  <h3>Loading</h3>
</div>

<div class="All container">
  <h1>FLIGHT MANAGEMENT</h1>

  <div class="d-grid mt-4">
    <button mat-mini-fab color="primary" class="btn-outline-primary" (click)="showAddFlight()" aria-label="Add Flight">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Flight No.</th>
          <th>Carrier Name</th>
          <th>Flight Model</th>
          <th>Seat Capacity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="flights?.length">
        <tr *ngFor="let fl of flights">
          <td>{{fl.flightNo}}</td>
          <td>{{fl.carrierName}}</td>
          <td>{{fl.flightModel}}</td>
          <td>{{fl.seatCapacity}}</td>
           <td>
            <div class="mini-button">
              <button mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <div class="mini-button">
              <button mat-mini-fab color="warn" >
                <mat-icon>delete</mat-icon>
              </button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
