<div class="loader-container" *ngIf="displayModal">
  <div class="spinner-border text-light spinner-custom" role="status"></div>
  <h3>Loading</h3>
</div>

<div class="All container">
  <h1>FLIGHT MANAGEMENT</h1>
  <!-- <div class="d-grid mt-4">
    <button type="button" class="btn btn-primary" (click)="goToAddFlight()">Add Flight</button>
  </div> -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Flight No.</th>
          <th>Carrier Name</th>
          <th>Flight Model</th>
          <th>Seat Capacity</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <tbody *ngIf="flights?.length">
        <tr *ngFor="let fl of flights">
          <td>{{fl.flightNo}}</td>
          <td>{{fl.carrierName}}</td>
          <td>{{fl.flightModel}}</td>
          <td>{{fl.seatCapacity}}</td>
           <!-- <td>
            <button type="button" class="btn btn-info">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>

</div>
